# Git
.git
.gitignore

# Documentation
*.md

# Dependencies
node_modules/

# Build output
dist/
build/

# IDE
.idea/
.vscode/
.vscode-server/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Logs
*.log
